@import url('/src/styles/StyleGlobal/style-global.css');

.login-button {
    background-color: var(--cor-white);
    color: var(--cor-black);
    padding: 12px 55px;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    border: 0.5px solid var(--cor-black);
    font-weight: 500;
}